.SideDrawer{
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.SideDrawerOpen{
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.DrawerList {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.DrawerLink {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 20px 0;
}

.DrawerLink:hover,
.DrawerLink:active {
    color: green;
}

@media(min-width: 769px){
    .SideDrawer, .SideDrawerOpen {
        display: none;
    }
}