.AboutUs {
 display: flex;
 justify-content: space-evenly;
}

.AboutImg {
    display: flex;
    align-items: center;
}

.DivWrap {
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.ImgAbout {
    width: 80%;
    border-radius: 15px;
}

.AboutText {
    display: flex;
    align-items: center;
}

.Headline{
    font-size: 2vw;
}
.Text {
    width: 70%;
    font-size: 1.2vw;
}

@media(max-width: 767.98px){
    .DivWrap{
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .AboutText{
        justify-content: center;
        padding-bottom: 5%;
    }
    .Text{
        font-size: 18px;
    }
    .Headline{
        font-size: 24px;
    }
    .ImgAbout {
        width: 85%;
    }
    .AboutImg{
        justify-content: center;
    }
    .AboutUs{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media(max-width: 575.98px){
    .Text {
        font-size: 14px;
        width: 80%;
    }
    .Headline{
        font-size: 22px;
    }
}