.ContactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
}

.ContactInput {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.ContactHeadline {
    font-size: 2vw;
}

.SingleInput {
    margin-bottom: 2%;
    outline: none;
    border: 1px solid black;
    border-radius: 12px;
    padding: 2%;
    width: 100%;
    height: 20px;
    font-size: 1vw;
}

.Textarea{
    margin-top: 5%;
    outline: none;
    border: 1px solid black;
    border-radius: 12px;
    padding: 2%;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    font-size: 1vw;
}

.ContactBtn {
    border: 1px solid green;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1vw;
    font-weight: 600;
    color: white;
    padding: 7px 45px;
    background-color: green;
    text-decoration: none;
    outline: none;
}

@media(max-width: 767.98px) {
    .ContactForm{
        margin-top: 10%;
    }
    .ContactForm h2{
        font-size: 24px;
    }
    .ContactInput{
        width: 50%;
    }
    .SingleInput {
        height: 15px;
        padding: 3%;
        font-size: 18px;
    }
    .Textarea {
        height: 150px;
        margin-bottom: 5%;
        padding: 3%;
        margin-top: 5%;
        font-size: 18px;
    }
    .ContactBtn{
        font-size: 20px;
    }
} 

@media(max-width: 575.98px){
    .ContactForm{
        padding-top: 5%;
    }
    .ContactForm h2{
        font-size: 22px;
    }
    .ContactInput{
        width: 60%;
    }
    .SingleInput{
        height: 10px;
        padding: 3%;
        font-size: 14px;
        border-radius: 7px;
    }
    .Textarea{
        height: 100px;
        padding: 3%;
        border-radius: 7px;
        margin-top: 10px;
        font-size: 14px;
    }
    .ContactBtn{
        font-size: 16px;
        padding: 5px 30px;
    }
}