.HeaderPage {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}

.HeaderImage {
    display: flex;
    justify-content: center;
    width: 50%;
}

.ImgHead {
    width: 100%;
}

.HeaderText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.HeaderText h1{
    font-size: 2vw;
}

.Text {
    width: 70%;
    font-size: 1.2vw;
    padding-bottom: 5%;
}

.Btn {
    border: 1px solid green;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1vw;
    font-weight: 600;
    color: white;
    padding: 7px 15px;
    background-color: green;
    text-decoration: none;
    outline: none;
}

@media(max-width: 767.98px){
    .HeaderPage{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .HeaderImage {
        width: 80%;
    }
    .Text {
        width: 100%;
        margin-bottom: 5%;
        font-size: 18px;
        text-align: center;
    }
    .HeaderText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        align-items: center;
    }
    .HeaderText h1{
        font-size: 24px;
    }
    .Btn{
        font-size: 20px;
        margin-bottom: 5%;
    }
}

@media(max-width: 575.98px){
    .HeaderPage {
        display: flex;
        flex-direction: column;
    }
    .HeaderImage {
        width: 90%;
    }
    .Text {
        width: 70%;
        font-size: 14px;
    }
    .HeaderText {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .Btn{
        font-size: 16px;
    }
}